* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-dark: #2f3a48;
    --bg-mid: #e6eee6;
    --bg-aside: #f0f3f7;
    --text-on-dark: #fff;
    --text: #333;

}


body {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: Arial, Hevetica, sans-serif;
    background-color: #f7f9fc;
    color: var(--text);


}

nav .menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 0.75rem;
}

nav .menu .push-right {
    margin-left: auto;
}


header {
    grid-area: header;
    background-color: var(--bg-dark);
    color: var(--text-on-dark);
    padding: 1rem 1.25rem 0.5rem;
}

nav ul {
    display: flex;
    justify-content: center;
    /* center the elements */
    gap: 1.5rem;
    /* space between buonds */
    list-style: none;
    /* dots of the list */
    margin-top: 0.5em;
}

nav a {
    text-decoration: none;
    color: var(--text-on-dark);
    font-weight: 600;
}


nav a:hover {
    text-decoration: underline;
}

main.grid {
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem 1.25rem 2rem;
}

.content {
    background: var(--bg-mid);
    padding: 1.25rem;
    min-height: 52vh;
}

.sidebar {
    background: var(--bg-aside);
    padding: 1.25rem;
}

footer {
    grid-area: footer;
    background: var(--bg-dark);
    color: var(--text-on-dark);
    text-align: center;
    padding: 1em;
    font-weight: 600;

}